<!-- wp:template-part {"slug":"header","theme":"stylish-brand-shop","tagName":"header"} /-->

<!-- wp:pattern {"slug":"stylish-brand-shop/page-title"} /-->

<!-- wp:woocommerce/page-content-wrapper {"page":"cart"} -->
<!-- wp:group {"tagName":"main","layout":{"type":"constrained","contentSize":"80%"}} -->
<main class="wp-block-group"><!-- wp:woocommerce/store-notices /-->

<!-- wp:post-content {"align":"wide"} /--></main>
<!-- /wp:group -->
<!-- /wp:woocommerce/page-content-wrapper -->

<!-- wp:template-part {"slug":"footer","theme":"stylish-brand-shop","tagName":"footer"} /-->